body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    justify-content: space-evenly;
    padding: 16px;
    /* gap: 500px;
    flex-wrap: nowrap; */
}

.logo {
    font-size: 24px;
}

.header, .hero-section {
    color: #F9FAF8;
    background: #1F2937;
    display: flex;
    align-items: center;
}

.hero-section {
    justify-content: center;
    /* gap: 85px; */
    gap: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-left .title {
    font-size: 48px;
}

.hero-left {
    gap: 64px;
}

.links, .hero-left p {
    font-size: 18px;
    flex-wrap: wrap;
}

.info-section {
    margin-bottom: 150px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 50px;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info img {
    width: 185px;
    margin-bottom: 12px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E7EB;

    padding: 100px;
}

.quote-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    max-width: 830px;
}

.author {
    font-size: 24px;
    font-weight: bold;
}

button {
    background: #3882F6;
    border-radius: 6px;
    border: none;
    color: #F9FAF8;
    padding: 5px 20px;
}

img {
    width: 450px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, p {
    color: #E5E7EB;
}